# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# Generated
generated_plugin_registrant.dart

# IDEs
.idea/
.vscode/

# Android
**/android/.gradle
**/android/captures/
**/android/local.properties

# iOS
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# macOS
**/macos/Flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Windows
**/windows/flutter/ephemeral/

# Web
web/flutter_bootstrap.js

# Logs
*.log

# Misc
.DS_Store
Thumbs.db

# Environment
.env